extends layout

block content

  form.well.well-lg(method='POST' action='/users')
    div.form-group
      div.input-group
        input.form-control(name='name' placeholder='add the name of a new user...')
        span.input-group-addon
          input#isManager(type='checkbox' name='is_manager')
          |
          |
          label(for='is_manager') Is Manager?
        span.input-group-btn
          button.btn.btn-success Add User
