html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name='description' content='Acme Users PG - Express/Postgres/Promises Demo')
    meta(name='author' content='Colin FitzGerald')
    title Acme Users PG

    <!-- Bootstrap core CSS -->
    link(href='/vendor/bootstrap/dist/css/bootstrap.css' rel='stylesheet')
    <!-- Custom styles -->
    link(href='/stylesheets/style.css' rel='stylesheet')
    <!-- Google Fonts -->
    link(href='https://fonts.googleapies.com/css?family=Zilla+Slab:400,700|Roboto' rel='stylesheet')

    body
      div.container
        div.page-header
          h1 Acme Users #[small PG!]

        ul.nav.nav-pills
          li.active
            a(href='/') Home
          li
            a(href='/users') Users (#{count})
          li
            a(href='/users/managers') Managers (#{count})

        block content
