extends layout

block content
  h2 Managers
  ul.list-group
    each manager in managers
      li.list-group-item
        h3.user-name #{manager.name}
        form(method='POST' action='/users/' + manager.id + '?_method=PUT')
          button.btn.btn-warning.btn-sm Remove as Manager
