extends layout

block content
  h2 Users
  ul.list-group
    each user in users
      li.list-group-item
        h4.user-name #{user.name}
        form(method='POST' action='/users/' + user.id + '?_method=PUT')
          if user.isManager
            button.btn.btn-warning Remove as Manager
          else
            div
              button.btn.btn-primary Make Manager
            div
              button.btn.btn-danger Delete User
