extends layout

block content
  h2 Users
  ul.list-group
    each user in users
      li.list-group-item
        if user.is_manager
          h3.user-name #{user.name} #[label.manager Manager]
        else
          h3.user-name #{user.name}
          div.form-group
            form(method='POST' action='/users/' + user.id + '?_method=PUT')
              button.btn.btn-primary.btn-sm Make Manager
            form(method='POST' action='/users/' + user.id + '?_method=DELETE')
              button.btn.btn-danger.btn-sm Delete User
