extends layout

block content
  h2 Users
  ul.list-group
    each user in users
      li.list-group-item
        h3.user-name #{user.name}
        if user.is_manager
          span.badge Manager!
        else
          form(method='POST' action='/users/' + user.id + '?_method=PUT')
            button.btn.btn-primary.btn-sm Make Manager
          form(method='POST' action='/users/' + user.id + '?_method=DELETE')
            button.btn.btn-danger.btn-sm Delete User
